@{
    ViewBag.Title = "CancelAccount";
}

<html>
<head>
    <title></title>
    <link href="~/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/ligerUI/js/core/base.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerCheckBox.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerResizable.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerComboBox.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerGrid.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerForm.js"></script>
    <script src="~/lib/ligerUI/js/ligerui.all.js"></script> 
</head>
<body>
    <h4>用户销户</h4>
    <form>
        卡片编号
        <input type="text" />
        <input type="submit" value="其他查询" />
         用户编号
        <input type="text" />
        <br/>
         姓名
        <input type="text" />
         电话
        <input type="text" />
        <br/>
         地址
        <input type="text" />
        <br />
         销户原因
        <input type="text" />
        <br />
        <input type="submit" value="销户" />
        <input type="submit" value="退出" />   

    </form>
</body>
</html>
